<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: htmlhead(~{::title})">
  <meta charset="utf-8"/>
  <title>勤務時間の入力</title>
</head>
<body>
<div th:replace="fragments/menuHead::menuHead('勤務時間入力')"></div>

<div class="ui container">
  <div class="pageHeader">
    <h1 class="ui center aligned header">勤務時間の入力</h1>
  </div>

  <div class="attendanceInput">
    <form id="custom-form" class="ui large form" name="body"
          method="post" action="#"
          th:object="${attendanceForm}"
          th:action="@{/timerecord}">

      <div class="field">
        <label>氏名</label>
        <div class="eight wide field">
          <select class="ui search dropdown" th:field="*{employeeNumber.value}">
            <option th:each="employee : ${employees.list()}" th:value="${employee.employeeNumber()}" th:text="${employee.name()}">
              DUMMY
            </option>
          </select>
        </div>
      </div>

      <div class="field">
        <label>勤務日</label>
        <div class="eight wide field">
          <input class="short-input" type="date" placeholder="2018-01-01"
                 th:field="*{actualWorkDateTimeForm.workRangeForm.workDate.value.value}"/>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.workDate.value.value')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.workDate.value.value}">勤務日が不正です</span>
        </div>
      </div>

      <div class="field">
        <label>開始時刻</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="9"
                   th:field="*{actualWorkDateTimeForm.workRangeForm.startTimeForm.hour}"
            />
            <div class="ui basic label">時</div>
          </div>
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="30"
                   th:field="*{actualWorkDateTimeForm.workRangeForm.startTimeForm.minute}"
            />
            <div class="ui basic label">分</div>
          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.startTimeForm.hour')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.startTimeForm.hour}"></span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.startTimeForm.minute')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.startTimeForm.minute}"></span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.startTimeForm.startTimeValid')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.startTimeForm.startTimeValid}"></span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('overlapWithPreviousWorkRange')}">
          <span th:errors="*{overlapWithPreviousWorkRange}">前日の勤務時刻と重複しています</span>
        </div>
      </div>

      <div class="field">
        <label>終了時刻</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="12"
                   th:field="*{actualWorkDateTimeForm.workRangeForm.endTimeForm.hour}"
            />
            <div class="ui basic label">時</div>
          </div>
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="30"
                   th:field="*{actualWorkDateTimeForm.workRangeForm.endTimeForm.minute}"
            />
            <div class="ui basic label">分</div>

          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.endTimeForm.hour')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.endTimeForm.hour}"></span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.endTimeForm.minute')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.endTimeForm.minute}"></span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.workRangeForm.workTimeValid')}">
          <span th:errors="*{actualWorkDateTimeForm.workRangeForm.workTimeValid}">終了時刻には開始時刻よりあとの時刻を入力してください</span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('overlapWithNextWorkRange')}">
          <span th:errors="*{overlapWithNextWorkRange}">翌日の勤務時刻と重複しています</span>
        </div>
      </div>

      <div class="field">
        <label>休憩時間</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="15"
                   th:field="*{actualWorkDateTimeForm.daytimeBreakTime.value.value}"
            />
            <div class="ui basic label">分</div>
          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.daytimeBreakTime.value.value')}">
          <span th:errors="*{actualWorkDateTimeForm.daytimeBreakTime.value.value}">休憩時間が不正です</span>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.daytimeBreakTimeValid')}">
          <span th:errors="*{actualWorkDateTimeForm.daytimeBreakTimeValid}">休憩時間が不正です</span>
        </div>
      </div>

      <div class="field">
        <label>休憩時間（深夜）</label>
        <div class="two fields">
          <div class="ui right labeled small input field">
            <input class="short-input" type="text" placeholder="15"
                   th:field="*{actualWorkDateTimeForm.nightBreakTime.value.value}"
            />
            <div class="ui basic label">分</div>
          </div>
        </div>
        <div class="ui pointing red basic label"
             th:if="${#fields.hasErrors('actualWorkDateTimeForm.nightBreakTimeValid')}">
          <span th:errors="*{actualWorkDateTimeForm.nightBreakTimeValid}">休憩時間（深夜）が不正です</span>
        </div>
      </div>

      <div class="ui center aligned basic segment">
        <button class="ui positive button">登録</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>